body{
  background-color: gainsboro;
 
  }
  
#button {
  border: 1px solid gray;
  margin: 0px;
  padding: 5px;
  font-family: Helvetica;
  border-radius: 3px;
  width: 150px;
  height: 30px;
  margin-left: 8px;
}


.darkMode  {
  background-color:  #302C25;
  color: white;
  
}

 .darkMode div div div{  
  background-color: black; 
  color: white;
  border-radius: 6px;
   
}

  .flex-container div div {
    flex-basis: 33%;
    margin: 5px;
    display: flex;
    border-radius: 3px;
    background-color: white; 
  }